.u-input-password {
  position: relative;
  display: flex;
  align-items: center;

  &__field {
    padding-right: 3.5rem;

    @media (min-width: 768px) {
      padding-right: 6rem;
    }
  }

  &__toggle {
    position: absolute;
    padding: 6px;

    top: 50%;
    right: calc(1rem - 6px); // Minus padding inside button
    transform: translateY(-50%);

    color: var(--color-silver);

    background: none;
    border: 2px solid transparent;
    border-radius: 6px;

    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @media (min-width: 768px) {
      right: calc(2rem - 6px); // Minus padding inside button
    }

    &:hover {
      color: var(--color-black);
    }

    &:focus {
      color: var(--color-black);
      border-color: var(--color-orange);
      outline: none;
    }
  }

  &__icon {
    display: block;

    width: 24px;
    height: 24px;

    color: inherit;

    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }
}