.u-input-password {
  position: relative;
  display: flex;
  align-items: center;

  &__field {
    padding-right: 6rem;
  }

  &__toggle {
    position: absolute;
    padding: 6px;

    top: 50%;
    right: calc(2rem - 6px); // Minus padding inside button
    transform: translateY(-50%);

    color: var(--color-silver);

    background: none;
    border: 2px solid transparent;
    border-radius: 6px;

    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--color-black);
    }

    &:focus {
      color: var(--color-black);
      border-color: var(--color-orange);
      outline: none;
    }
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;
    color: inherit;
  }
}