.u-input {
    display: block;

    width: 100%;
    padding: 2rem;

    font-size: 1rem;
    font-family: var(--font-martian);

    background-color: var(--color-alto);
    box-shadow: var(--neo-shadow);
    border-radius: var(--radius-normal);
    border: none;
}