.u-button {
    display: block;
    padding: 2rem;

    font-size: 1rem;
    font-family: var(--font-martian);

    background: var(--color-alto);
    box-shadow:  var(--neo-shadow);
    border-radius: 1rem;
    border: none;

    cursor: pointer;
}