:root {
    // Fonts
    --font-martian: 'Martian Mono', sans-serif;

    // Colors
    --color-black: oklch(0% 0% 0deg);
    --color-white: oklch(100% 0% 90deg);
    --color-alto: oklch(94% 2% 243deg);
    --color-silver: oklch(80.15% 0 0);
    --color-patina: oklch(60% 13% 176deg);
    --color-orange: oklch(71% 48% 44deg);

    // Shadows
    --shadow-alto: -5px 5px 15px var(--color-silver), 5px -5px 15px var(--color-white);
    --shadow-patina: -5px 5px 15px var(--color-patina), 5px -5px 15px var(--color-white);

    // Radius
    --radius-small: 0.5rem;
    --radius-normal: 1rem;

    // Media
    --media-tablet: 768px;
}

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0;

    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-martian);

    background-color: var(--color-alto);
}