@keyframes animation-init {
    from { opacity: 0; }
    to { opacity: 1; }
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    animation: animation-init 0.4s ease-in-out forwards;

    @media (min-width: 768px) {
        padding: 4rem;

        box-shadow: var(--shadow-alto);
        background-color: var(--color-alto);
        border-radius: var(--radius-normal);
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__label {
        align-self: flex-start;
    }

    &__controls {
        display: flex;
    }

    &__button {
        width: 100%;

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    &__error {
        color: var(--color-orange);
        font-size: 14px;
        line-height: 20px;

        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}