.u-input {
    display: block;

    width: 100%;
    padding: 1rem;

    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-martian);

    background-color: var(--color-alto);
    box-shadow: var(--shadow-alto);
    border-radius: var(--radius-small);
    border: 2px solid transparent;

    transition: all 0.2s ease-in-out;

    @media (min-width: 768px) {
        padding: 2rem;

        font-size: 16px;
        line-height: 22px;

        border-radius: var(--radius-normal);
    }

    &:focus {
        border-color: var(--color-orange);
        outline: none;
    }

    &::placeholder {
        color: var(--color-silver);
    }
}